@import "tailwindcss";

:root {
  @apply bg-[#222831] text-[#DFD0B8] font-mono box-border p-0 m-0 
  
}
.header-list{
  @apply text-2xl mt-6 p-2 border-[#948979] border-2  place-items-center hover:text-[#948979]
}
